// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: Roboto;
  color: darkslategray;
  text-align: center;
}

.answer {
  background-color: lightyellow;
  border-left: 5px solid gray;
}

.question {
  border-left: 5px solid gray;
}

.answer, .question {
  padding: 15px;
  margin: 15px;
}
 a {
  text-decoration: none;
 }

#btn {
  background: blue;
  color: white;
  border-color: blue;
  font-weight: bolder;
}
